@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-purple: #7a18ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #242424;
  font-family: 'Montserrat', sans-serif;
  color: white;
  /* overflow: hidden; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  max-width: 572px;
  letter-spacing: .2rem;
  /* margin: -35px -35px 0 0; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.start-point {
  color: white;
  text-decoration: none;
}

.canvas {
  position: fixed;
}

.name {
  color: rgb(255, 184, 28)
}

.process {
  color: rgb(0, 119, 73)
}

.blog-container {
  width: 661px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 100;
}

.nav-line {
  display: flex;
  justify-content: flex-end;
  gap: 18px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.name-logo {
  cursor: pointer;
  text-decoration: none;
  width: 250px;
}

p {
  line-height: 2rem;
}


/* Fade In Animation for invisible card because no one checks */
/* .fade-in {
  animation: opac 1s
}

@keyframes opac {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
} */

/* From Left Animation */

/* .animate-left {
  position: relative;
  animation: animateleft 1s
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
} */

/* From Right Animation */

.animate-right {
  position: relative;
  animation: animateright 1s
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0
  }

  to {
    right: 0;
    opacity: 1
  }
}

/* Pixel Button */

.pixel {
  position: relative;
  width: 180px;
  height: 60px;
  margin: 20px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  transition: var(--speed-normal);
  border: 1px solid var(--color-purple);

}

.pixel:hover {
  border: 1px solid transparent;
  background: var(--color-purple) url(https://i.postimg.cc/FzBWFtKM/pixel2.png);
  transition-delay: 0.8s;
  background-size: 180px;
  animation: animate var(--speed-fast) steps(8) forwards;
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: -480px;
  }
}